$extends:
    - base.yaml

devices:
    
    em-1:
        default:                true
        address:                MGMT_IPV4_ADDRESS
        admin password:         ADMINPASSWORD
        #lock admin password:    ADMINPASSWORD2
        root password:          ROOTPASSWORD
        tags:
            - root-trust-domain
        groups:
            - dg1

    bigip-1:
        address:                MGMT_IPV4_ADDRESS
        discover address:       IP4_OR_IPv6_ADDRESS
        admin password:         ADMINPASSWORD
        #lock admin password:    ADMINPASSWORD2
        root password:          ROOTPASSWORD
        tags:
            - root-trust-domain
        groups:
            - dg1

stages:
    main:
        setup:
            stage01-install-em:
            ###################
                type: install
                group: installation
                devices:
                    - em-1
                parameters:
                    product:        em
                    #version:        stirling-em
                    version:        solar-em
                    #build:          808.0
                    #hotfix:         hf1
                    essential config: yes
                    timeout:        1200

            stage01-install-bigip-1:
            ########################
                type: install
                group: installation
                devices:
                    - bigip-1
                parameters:
                    product:        bigip
                    version:        11.2.0
                    #build:          2267.0
                    #hotfix:         hf1
                    essential config: yes
                    timeout:        1200

            stage02-config-em:
            ##################
                type: config
                group: configuration
                devices:
                    - em-1
                parameters:
                    partitions: 0

            stage02-config-bigip-1:
            #######################
                type: config
                group: configuration
                devices:
                    - bigip-1
                parameters:
                    partitions: 3
                    provision: asm,gtm
                    timeout: 300

            stage03-keyswap:
            ################
                type: keyswap
                devices:
                    - ^all

            stage04-tweak-logrotate:
            ########################
                type: tweaks
                devices:
                    - ^all
                parameters:
                    logrotate: on

            stage05-discovery:
            ##################
                _enabled: true
                type: emdiscovery
                devices:
                    - em-1
                parameters:
                    devices:
                        - ^all

            stage10-tweak-db:
            #################
                type: tweaks
                devices:
                    - em-1
                parameters:
                    shell: cat /VERSION

        teardown:
            stage01-setpassword:
            ####################
                type: setpassword
                devices:
                    - ^all
            
            stage02-cores:
            ##############
                type: cores
                devices:
                    - ^all

selenium:
    ionutdb02-firefox:
        default:    true

testopia:
    address:    http://mgmtdata.mgmt.pdsea.f5net.com
    username:   USERNAME
    password:   PASSWORD
    uri:        /xmlrpc.cgi
    
    testplan:   PLAN_ID
    product:    Enterprise Manager
