$extends:
    - base.yaml

isbvt: 0

devices:
    
    em-1:
        default:                true
        address:                MGMT_IPV4_ADDRESS
        admin password:         ADMINPASSWORD
        #lock admin password:    ADMINPASSWORD2
        root password:          ROOTPASSWORD

#    x-em:
#        address:                MGMT_IPV4_ADDRESS
#        admin password:         ADMINPASSWORD
#        #lock admin password:    ADMINPASSWORD2
#        root password:          ROOTPASSWORD

    bigip-1:
        address:                MGMT_IPV4_ADDRESS
        discover address:       IP4_OR_IPv6_ADDRESS
        admin password:         ADMINPASSWORD
        #lock admin password:    ADMINPASSWORD2
        root password:          ROOTPASSWORD

    bigip-2:
        address:                MGMT_IPV4_ADDRESS
        admin password:         ADMINPASSWORD
        #lock admin password:    ADMINPASSWORD2
        root password:          ROOTPASSWORD

stages:
    main:
        setup:
            stage01:
            ##########################
                type: install
                group: installation
                devices:
                    - em-1
                parameters:
                    product:        em
                    version:        stirling-em
                    #hotfix:         hf1
                    essential config: yes
                    timeout:        1200

            stage02:
            ##########################
                type: install
                group: installation
                devices:
                    - bigip-1
                parameters:
                    product:        bigip
                    version:        stirling
                    #hotfix:         hf1
                    essential config: yes
                    timeout:        1200

            stage03:
            ##########################
                type: install
                group: installation
                devices:
                    - bigip-2
                parameters:
                    product:        bigip
                    version:        11.1.0
                    hotfix:         hf2
                    essential config: yes
                    timeout:        1200

#            stage03:
#            ##########################
#                type: eminstall
#                group: installation
#                devices:
#                    - x-em
#                parameters:
#                    targets:
#                        - bigip-2
#                    product:        bigip
#                    version:        9.3.1
#                    hotfix:         hf8
#                    essential config: yes
#                    timeout:        3060

            stage04:
            ############
                type: config
                devices:
                    - em-1
                parameters:
                    partitions: 0

            stage05-1:
            ############
                type: config
                devices:
                    - bigip-1
                parameters:
                    partitions: 3
                    provision: asm
                    timeout: 300

            stage05-2:
            ############
                type: config
                devices:
                    - bigip-2
                parameters:
                    partitions: 3
                    provision: gtm

            stage06:
            #####################
                type: keyswap
                devices:
                    - ^all

            stage07:
            ############
                type: tweaks
                devices:
                    - ^all
                parameters:
                    logrotate: on

            stage08:
            ########################
                type: emdiscovery
                devices:
                    - em-1
                parameters:
                    devices:
                        - ^all

        teardown:
            stage01:
            ######################
                type: setpassword
                devices:
                    - ^all
            
            stage02:
            ##################
                type: cores
                devices:
                    - ^all

selenium:
    ionutdb02-firefox:
        default:    true

testopia:
    address:    http://mgmtdata.mgmt.pdsea.f5net.com
    username:   USERNAME
    password:   PASSWORD
    uri:        /xmlrpc.cgi
    
    testplan:   PLAN_ID
    product:    Enterprise Manager
