({{ result.bars.good_no_skips.percent_done }}%) {{ config.testrun.type }}: {{ dut.version.product|upper }} {{ dut.version.version }} {{ dut.version.build }} {% if cores.data %}[CORED]{% endif %}: {{ spec.subject }} 
