<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
	<title>Test report</title>
</head>

<body>
<pre>
Good:    {{ bars.good }}
Bad:     {{ bars.bad }}
Skipped: {{ bars.unknown }}

{% if testtime %}Duration: {{ testtime.delta_str }}{% endif %}

{% if not noseconfig.options.no_logcollect -%}
Session logs: {{ sessionurl }}
{%- endif %}
{%- if config.testopia._testrun %}
Testopia run: {{ config.testopia.address }}/tr_show_run.cgi?run_id={{ config.testopia._testrun }}
{%- endif %}

DUTs info:
==========
{%- for dut in duts %}
 - {{ dut.device.alias|ljust(10) }} - <a href="https://{{ dut.device.address }}">{{ dut.device.address|ljust(16) }}</a>: {{ dut.platform|ljust(4) }} {{ dut.version.product.to_tmos()|rjust(7) }} {{ dut.version.version }} {{ dut.version.build }} {{ dut.project }} {% if data and data.cores[dut.device.alias] %}[CORED]{% endif %}
{%- endfor %}

Skipped:
========
{%- for skip in result.skipped -%}
{% set file, module, method = skip.0.address() -%}
{% set tc = "%s:%s" % (module, method) -%}
{% if config.testopia._tcs -%}
	{% set tcid = config.testopia._tcs[tc].case_id -%}
{% endif %}
<b>*</b> {% if 0 %}<a href="http://mgmtdata.mgmt.pdsea.f5net.com/tr_show_case.cgi?case_id={{ tcid }}">{{ tc }}</a>{% else %}{{ tc }}{% endif %}
Author: {{ skip.0.test.author }} 
{{ skip.1|string|indent(2, true)|bzify|safe }}
{% endfor %}
{#
Failures:
=========
{%- for failure in result.failures -%}
{% set file, module, method = failure.0.address() -%}
{% set tc = "%s:%s" % (module, method) -%}
{% if config.testopia._tcs -%}
	{% set tcid = config.testopia._tcs[tc].case_id -%}
{% endif %}
<b>*</b> {% if 0 %}<a href="http://mgmtdata.mgmt.pdsea.f5net.com/tr_show_case.cgi?case_id={{ tcid }}">{{ tc }}</a>{% else %}{{ tc }}{% endif %}
Author: {{ failure.0.test.author }} 
{{ failure.1.strip()|indent(2, true) }}
{% endfor %}

Errors:
=======
{%- for error in result.errors -%}
{% if error.0.address -%}
{% set file, module, method = error.0.address() -%}
{% set tc = "%s:%s" % (module, method) -%}
{% if config.testopia._tcs -%}
	{% set tcid = config.testopia._tcs[tc].case_id -%}
{% endif %}
<b>*</b> {% if 0 %}<a href="http://mgmtdata.mgmt.pdsea.f5net.com/tr_show_case.cgi?case_id={{ tcid }}">{{ tc }}</a>{% else %}{{ tc }}{% endif %}
Author: {{ error.0.test.author }} 
{{ error.1.strip()|indent(2, true) }}
{% endif -%}
{% endfor %}
#}
Test Runner:
============
<b>{{ test_runner_ip }}</b> 
</pre>
</body>
</html>